svg {
  background-color: #E9F1DF;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes g circle {
  fill: #4B606C;
  stroke: #002931;
  stroke-width: 4px;
}

.nodes g {
  cursor: pointer;
}

.nodes g text {
  stroke: #911D00;
}

.nodes .node-is-destination {
	fill: #002931;
	stroke: #002931;
	stroke-width: 4px;
}

.nodes .node-selected {
  animation-name: node-selected-animation;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

button.editing {
  color: white;
  background-color: #C32;
}

@keyframes node-selected-animation {
    0% {
    	fill: #E9F1DF;
    	stroke-width: 2px;
    	stroke: #002931;
    }
    50% {
    	fill: #E9F1DF;
    	stroke-width: 4px;
    	stroke: #4B606C;
    }
    100% {
    	fill: #E9F1DF;
    	stroke-width: 2px;
    	stroke: #002931;
    }
}

