.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes g circle {
  fill: #FFE11A;
  stroke: #EB4B3F;
  stroke-width: 4px;
}

.nodes .node-is-destination {
	fill: #EB263F;
	stroke: #BEDB39;
	stroke-width: 4px;
}

.nodes .node-selected {
  animation-name: node-selected-animation;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

button.editing {
  color: white;
  background-color: #C32;
}

@keyframes node-selected-animation {
    0% {
    	fill: #FFE11A;
    	stroke-width: 2px;
    	stroke: #52D1D9;
    }
    50% {
    	fill: #EB4B3F;
    	stroke-width: 4px;
    	stroke: #1F8A70;
    }
    100% {
    	fill: #FFE11A;
    	stroke-width: 2px;
    	stroke: #52D1D9;
    }
}

